*{
    box-sizing: border-box;
}

body{
    background-image: radial-gradient(rgb(255, 0, 242), #8400ff, #ff008c);
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

div{
    position: absolute;
    bottom: 20px;
    background:rgba(0,0,0,0,0.1);
    padding: 10px 20px;
    font-size: 18px;
}

input{
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: hotpink;
    border: none;
    text-align: center;
}

input:focus{
    outline: none;
}