body{
    display: flex;
    background-image: linear-gradient(-45deg , #58fff1, #ff23ff);
    flex-wrap: wrap;
    margin: 3rem;
    height: 100vh;
    background-repeat: inherit;
}

.addnote{
    color: tomato;
    background-color: rgb(171, 255, 16);
    border: 0;
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
}

#plus{
    margin-right: 5px;
}

.note{
    background-color: #fff;
    box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.8) ;
    height: 400px;
    width: 400px;
    margin: 60px 20px;
}

.note .tools{
    display: flex;
    justify-content: flex-end;
    background-color: springgreen;
    padding: 0.5rem;
    
}

.tools button{
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.5rem;
    outline: none;
}

.note textarea{
    border: none;
    outline: none;
    width: 90%;
    height: 300px;
    padding: 20px;
    font-size: 1.2rem;
}

.main{
    padding: 20px;
}

.hidden{
    display: none;
}